* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

#my_clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 80px;
    letter-spacing: 7px;
}